<style>
.footer {
  z-index: 1030;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(102, 99, 248);
   color: black;
   text-align: center;
}
a:hover{
  color: #0896dd;
}
</style>
<!-- Remove the container if you want to extend the Footer to full width. -->
  <!-- Footer -->
  <footer class="footer text-center text-white">
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            
          </div>
        </div>
      </section>
      <section class="text-center mb-5">
        <span class= "lead">
               Connect with me on 
            </span>
        <a href="https://twitter.com/Ezekiel11011" target="_blank" class="text-white me-4">
          <i class="fab fa-twitter" style="color: #0896dd;"></i>
        </a>
        <a href="https://www.linkedin.com/in/ezekiel-okebule-87b19523a" target="_blank" class="text-white me-4">
          <i class="fab fa-linkedin" style="color: #080cdd;"></i>
        </a>
        <a href="https://github.com/carnage999-max" target="_blank" class="text-white me-4">
          <i class="fab fa-github" style="color: #131618;"></i>
        </a>
      </section>
    <div class="text-center p-3">
      Copyright &copy; <script>document.write(new Date().getFullYear())</script> 
      <span class="text-auto" style="text-decoration: none;">Ezekiel Okebule</span>
      <p>All rights Reserved</p>
    </div>
  </footer>

